{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include 'posts/head_block.html' %}
    {% block title %}
    {% endblock title %}
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
      {% block header %}
      {% endblock header %}
    </header>
    <main>
      <div class="container py-5">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>