{% extends "base.html" %}
{% block title %}
  <title>Об авторе проекта </title>
{% endblock title %}
{% block content %}
  <h1>Привет, я смотритель форума</h1>
  <h2>Промсталькомплект - стальной интеллект</h2> 
  <p>
    Это форум общества с ограниченной ответственностью 
    «Промсталькомплект» (далее - ПСК).
  </p> 
  <ul>Здесь Вы узнаете что такое
    <li>
      Система «Умный дом» 
    </li> 
    <li>
      АПК «Безопасный город» 
    </li> 
    <li>
      Системы связи и оповещения 
    </li> 
    <li>
      Системы контроля и управления доступом 
    </li>
  </ul> 
{% endblock %}
