{% extends "base.html" %}
{% block title %}
<title>Технологии</title>
{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Аппаратно-программный комплекс «Безопасный город» - это
      интеллектуальная система обеспечения правопорядка и безопасности
      среды обитания населения в условиях сохранения высокого уровня
      угроз техногенного и природного характера и продолжающейся тенденции
       к урбанизации. 
      В последнее десятилетие количество правонарушений, террористических
       актов, опасных природных явлений и крупных техногенных катастроф
       на территории Российской Федерации ежегодно растет. Для борьбы с 
       правонарушениями и противоправными действиями увеличивается
       количество мест установки камер видеонаблюдения, для ликвидации
       пожаров и техногенных аварий растет число единиц техники и
       оборудования пожарной сигнализации, т. е. идет наращивание сил
       и средств, развитие происходит по экстенсивному пути. Несмотря
       на количественный рост технических возможностей, спецслужбам
       приходится реагировать на уже свершившиеся события и происшествия
       такие, как преступления, аварии, катастрофы, пожары, наводнения.
       В свою очередь, построение АПК «Безопасный город» позволит
       интенсифицировать применение административных, организационных
       и вычислительных ресурсов для решения задач по предупреждению
       противоправных действий, террористических актов, чрезвычайных
       ситуаций, реагированию на происшествия и ликвидации последствий.
      </p>
  </article>
</div>
{% endblock %} 